@{
    ViewBag.Title = "NuestroHorario";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<section class="home-slider-loop-false  inner-page owl-carousel" style="margin-bottom: -100px;">
    <div class="slider-item" style="background-image: url('../../template/img/slider-1.jpg');">

        <div class="container">



            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1> Seccion de Horarios</h1>
                </div>
            </div>
        </div>

    </div>

</section>

<section class="section bg-light element-animate">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Nuestro Horario</h2>
                    <span class="back-text-dark">Horario</span>
                </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('../../template/img/img_1_square.jpg');"></div>
                    <div class="text order-1">
                        <h3>Nombre de la clase de acondicionamiento físico aquí</h3>
                        <p>La empresa en sí es una empresa muy exitosa. Fue elegido por ese arquitecto....</p>
                        <p class="Tiempo programado">
                            <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p><a href="#" class="btn btn-primary btn-sm">Únete desde $15</a></p>

                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('../../template/img/img_2_square.jpg');"></div>
                    <div class="text">
                        <h3>Nombre de la clase de acondicionamiento físico aquí</h3>
                        <p>El dolor en sí debe ir seguido de adipisis del desarrollador. Fue elegido por ese arquitecto...</p>
                        <p class="sched-time">
                            <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p><a href="#" class="btn btn-primary btn-sm">Únete desde $15</a></p>

                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div class="sched d-block d-lg-flex">
                    <div class="bg-image order-2" style="background-image: url('../../template/img/img_4_square.jpg');"></div>
                    <div class="text order-1">
                        <h3>Nombre de la clase de acondicionamiento físico aquí</h3>
                        <p>El dolor en sí debe ir seguido de adipisis del desarrollador. Fue elegido por ese arquitecto....</p>
                        <p class="Tiempo programado">
                            <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p><a href="#" class="btn btn-primary btn-sm">Únete desde $15</a></p>

                    </div>

                </div>

                <div class="sched d-block d-lg-flex">
                    <div class="bg-image" style="background-image: url('../../template/img/img_3_square.jpg');"></div>
                    <div class="text">
                        <h3>Nombre de la clase de acondicionamiento físico aquí</h3>
                        <p>La empresa en sí es una empresa muy exitosa. Fue elegido por ese arquitecto....</p>
                        <p class="sched-time">
                            <span><span class="fa fa-clock-o"></span> 5:30 PM</span> <br>
                            <span><span class="fa fa-calendar"></span> April 22, 2018</span> <br>
                        </p>
                        <p><a href="#" class="btn btn-primary btn-sm">Únete desde $15</a></p>

                    </div>

                </div>

            </div>
        </div>


    </div>
