@{
    ViewBag.Title = "SeccionesPersonalizadas";
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

<section class="home-slider-loop-false  inner-page owl-carousel" style="margin-bottom: -100px;">
    <div class="slider-item" style="background-image: url('../../template/img/slider-1.jpg');">

        <div class="container">



            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 element-animate">
                    <h1> Secciones Personalizadas</h1>
                </div>
            </div>
        </div>

    </div>

</section>


<section class="section element-animate">

    <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center heading-wrap">
                    <h2>Secciones</h2>
                    <span class="back-text">Secciones</span>
                </div>
            </div>
        </div>
    </div>

    <div class="owl-carousel centernonloop">
        <a href="#" class="item-class">
            <div class="text">
                <p class="class-price">Por solo $14.99</p>
                <h2 class="class-heading">Tenemos el Area de Cardio</h2>
            </div>
            <img src="~/Template/img/img_1_square.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
            <div class="text">
                <p class="class-price">Por solo $20.99</p>
                <h2 class="class-heading">Tenemos el Area de fitness funcional</h2>
            </div>
            <img src="~/Template/img/img_2_square.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
            <div class="text">
                <p class="class-price">por solo $10.99</p>
                <h2 class="class-heading">Tenemos el Area de pesas libres</h2>
            </div>
            <img src="~/Template/img/img_3_square.jpg" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
            <div class="text">
                <p class="class-price">por solo $15.99 </p>
                <h2 class="class-heading">Tenemos el Area de estiramientos y movilidad</h2>
            </div>
            <img src="~/Template/img/img_4_square.jpg" alt="" class="img-fluid">
        </a>
    </div>
</section> <!-- .section -->

<div class="text-center mt-4 font-weight-light">
    Volver al menu <a href="@Url.Action("Index","Login")" class="text-primary">Volver ala pantalla principal</a>
<br />
    Iniciar seccion <a href="@Url.Action("IniciarSesion","Login")" class="text-primary">IniciarSesion</a>
</div>
