<!doctype html>
<html lang="en">
<head>
    <title>Colorlib Fitnezz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
    <link rel="stylesheet" href="~/Template/css/bootstrap.css">
    <link rel="stylesheet" href="~/Template/css/animate.css">
    <link rel="stylesheet" href="~/Template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Template/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Template/fonts/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="~/Template/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Template/css/style.css">
</head>
<body>

    <header role="banner">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="">Fitne<span>zz</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

            </div>
        </nav>
    </header>

    @RenderBody()

    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

    <script src="~/Template/js/jquery-3.2.1.min.js"></script>
    <script src="~/Template/js/popper.min.js"></script>
    <script src="~/Template/js/bootstrap.min.js"></script>
    <script src="~/Template/js/owl.carousel.min.js"></script>
    <script src="~/Template/js/jquery.waypoints.min.js"></script>

    <script src="~/Template/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Template/js/magnific-popup-options.js"></script>


    <script src="~/Template/js/main.js"></script>
</body>
</html>
